.loader {
    width: 15%;
    display: none;
}

.loader.active {
    display: block;
}

.task-list {
    opacity: 1;
}

.task-list.loading {
    opacity: 0.5;
}

.task-wrapper {
    min-height: 400px;
}

.main {
    flex-direction: column;
}